.sidebar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.sidebar-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    left: 0;
    height: 100vh;
    width: 300px;
    background-color: #000000;
    padding: 1rem;
    padding-bottom: 5rem;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    overflow-x: hidden;
    overflow-y: auto;
}

.sidebar-container::-webkit-scrollbar {
    width: 8px;
}

.sidebar-container::-webkit-scrollbar-track {
    border-radius: 8px;
}

.sidebar-container::-webkit-scrollbar-thumb {
    background-color: #444a60;
    border-radius: 8px;
}

.sidebar-container::-webkit-scrollbar-thumb:hover {
    background-color: #5b6180;
    cursor: pointer;
}


.sidebar-close-btn-and-header-container {
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 1rem;
}   

.sidebar-close-btn-and-header-container h2 {
    font-size: 1.3rem;
}

.sidebar-close-btn-and-header-container::after {
    content: "";
    position: absolute;
    top: 6.5rem;
    height: 1px;
    width: 100%;
    background-color: #4d4d4d;
}

.sidebar-close-btn {
    font-size: 1.3rem;
    color: white;
    margin-right: 1rem;
}

.sidebar-contents-container {
    width: 100%;
}



.sidebar-animation-enter {
    opacity: 0;
    transform: translateX(-100%);
}

.sidebar-animation-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 200ms ease, transform 200ms ease;
}

.sidebar-animation-exit {
    opacity: 1;
    transform: translateX(0);
}

.sidebar-animation-exit-active {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 200ms ease, transform 200ms ease;
}




.login-or-register-btn-container {
    position: fixed;
    z-index: 99999;
    bottom: 0;
    background-color: #000000;
    width: 280px;
    display: flex;
    padding: 1.5rem 1rem;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.login-or-register-btn-container button {
    color: white;
}


.login-or-register-btn-icon {
    position: relative;
    min-width: 30px;
}

.login-or-register-btn-icon::after {
    content: "";
    position: absolute;
    top: 0;
    right: -1rem;
    width: 2px;
    height: 100%;
    background-color: #4d4d4d;
}

.login-or-register-btn-buttons-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 1rem;
}

.logout-btn-container {
    position: absolute;
    left: 5rem;
}